@font-face {
    font-family: 'Maison Neue Ext Demi';
    src: url('MaisonNeueExt-Demi.eot');
    src: local('Maison Neue Ext Demi'), local('MaisonNeueExt-Demi'),
        url('MaisonNeueExt-Demi.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-Demi.woff2') format('woff2'),
        url('MaisonNeueExt-Demi.woff') format('woff'),
        url('MaisonNeueExt-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Ext';
    src: url('MaisonNeueExt-BlackItalic.eot');
    src: local('Maison Neue Ext Black Italic'), local('MaisonNeueExt-BlackItalic'),
        url('MaisonNeueExt-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-BlackItalic.woff2') format('woff2'),
        url('MaisonNeueExt-BlackItalic.woff') format('woff'),
        url('MaisonNeueExt-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Ext';
    src: url('MaisonNeueExt-BoldItalic.eot');
    src: local('Maison Neue Ext Bold Italic'), local('MaisonNeueExt-BoldItalic'),
        url('MaisonNeueExt-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-BoldItalic.woff2') format('woff2'),
        url('MaisonNeueExt-BoldItalic.woff') format('woff'),
        url('MaisonNeueExt-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Ext Demi';
    src: url('MaisonNeueExt-DemiItalic.eot');
    src: local('Maison Neue Ext Demi Italic'), local('MaisonNeueExt-DemiItalic'),
        url('MaisonNeueExt-DemiItalic.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-DemiItalic.woff2') format('woff2'),
        url('MaisonNeueExt-DemiItalic.woff') format('woff'),
        url('MaisonNeueExt-DemiItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Ext';
    src: url('MaisonNeueExt-Light.eot');
    src: local('Maison Neue Ext Light'), local('MaisonNeueExt-Light'),
        url('MaisonNeueExt-Light.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-Light.woff2') format('woff2'),
        url('MaisonNeueExt-Light.woff') format('woff'),
        url('MaisonNeueExt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Ext ExtraThin';
    src: url('MaisonNeueExt-ExtraThinItalic.eot');
    src: local('Maison Neue Ext ExtraThin Italic'), local('MaisonNeueExt-ExtraThinItalic'),
        url('MaisonNeueExt-ExtraThinItalic.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-ExtraThinItalic.woff2') format('woff2'),
        url('MaisonNeueExt-ExtraThinItalic.woff') format('woff'),
        url('MaisonNeueExt-ExtraThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Ext';
    src: url('MaisonNeueExt-ExtraBoldItalic.eot');
    src: local('Maison Neue Ext ExtraBold Italic'), local('MaisonNeueExt-ExtraBoldItalic'),
        url('MaisonNeueExt-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-ExtraBoldItalic.woff2') format('woff2'),
        url('MaisonNeueExt-ExtraBoldItalic.woff') format('woff'),
        url('MaisonNeueExt-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Ext ExtraThin';
    src: url('MaisonNeueExt-ExtraThin.eot');
    src: local('Maison Neue Ext ExtraThin'), local('MaisonNeueExt-ExtraThin'),
        url('MaisonNeueExt-ExtraThin.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-ExtraThin.woff2') format('woff2'),
        url('MaisonNeueExt-ExtraThin.woff') format('woff'),
        url('MaisonNeueExt-ExtraThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Ext Book';
    src: url('MaisonNeueExt-Book.eot');
    src: local('Maison Neue Ext Book'), local('MaisonNeueExt-Book'),
        url('MaisonNeueExt-Book.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-Book.woff2') format('woff2'),
        url('MaisonNeueExt-Book.woff') format('woff'),
        url('MaisonNeueExt-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Ext';
    src: url('MaisonNeueExt-LightItalic.eot');
    src: local('Maison Neue Ext Light Italic'), local('MaisonNeueExt-LightItalic'),
        url('MaisonNeueExt-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-LightItalic.woff2') format('woff2'),
        url('MaisonNeueExt-LightItalic.woff') format('woff'),
        url('MaisonNeueExt-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Ext';
    src: url('MaisonNeueExt-Medium.eot');
    src: local('Maison Neue Ext Medium'), local('MaisonNeueExt-Medium'),
        url('MaisonNeueExt-Medium.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-Medium.woff2') format('woff2'),
        url('MaisonNeueExt-Medium.woff') format('woff'),
        url('MaisonNeueExt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Ext';
    src: url('MaisonNeueExt-Thin.eot');
    src: local('Maison Neue Ext Thin'), local('MaisonNeueExt-Thin'),
        url('MaisonNeueExt-Thin.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-Thin.woff2') format('woff2'),
        url('MaisonNeueExt-Thin.woff') format('woff'),
        url('MaisonNeueExt-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Ext';
    src: url('MaisonNeueExt-Bold.eot');
    src: local('Maison Neue Ext Bold'), local('MaisonNeueExt-Bold'),
        url('MaisonNeueExt-Bold.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-Bold.woff2') format('woff2'),
        url('MaisonNeueExt-Bold.woff') format('woff'),
        url('MaisonNeueExt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Ext';
    src: url('MaisonNeueExt-ThinItalic.eot');
    src: local('Maison Neue Ext Thin Italic'), local('MaisonNeueExt-ThinItalic'),
        url('MaisonNeueExt-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-ThinItalic.woff2') format('woff2'),
        url('MaisonNeueExt-ThinItalic.woff') format('woff'),
        url('MaisonNeueExt-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Ext';
    src: url('MaisonNeueExt-Black.eot');
    src: local('Maison Neue Ext Black'), local('MaisonNeueExt-Black'),
        url('MaisonNeueExt-Black.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-Black.woff2') format('woff2'),
        url('MaisonNeueExt-Black.woff') format('woff'),
        url('MaisonNeueExt-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Ext Book';
    src: url('MaisonNeueExt-BookItalic.eot');
    src: local('Maison Neue Ext Book Italic'), local('MaisonNeueExt-BookItalic'),
        url('MaisonNeueExt-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-BookItalic.woff2') format('woff2'),
        url('MaisonNeueExt-BookItalic.woff') format('woff'),
        url('MaisonNeueExt-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Ext';
    src: url('MaisonNeueExt-MediumItalic.eot');
    src: local('Maison Neue Ext Medium Italic'), local('MaisonNeueExt-MediumItalic'),
        url('MaisonNeueExt-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-MediumItalic.woff2') format('woff2'),
        url('MaisonNeueExt-MediumItalic.woff') format('woff'),
        url('MaisonNeueExt-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Ext';
    src: url('MaisonNeueExt-ExtraBold.eot');
    src: local('Maison Neue Ext ExtraBold'), local('MaisonNeueExt-ExtraBold'),
        url('MaisonNeueExt-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeueExt-ExtraBold.woff2') format('woff2'),
        url('MaisonNeueExt-ExtraBold.woff') format('woff'),
        url('MaisonNeueExt-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

